.ion-page {
  justify-content: normal;
}

ion-content {
  --padding-bottom: 60px;
  --padding-end: 20px;
  --padding-start: 20px;
  --padding-top: 60px;
  overflow: visible;
}

.title-default {
  padding: 0;
}
